// secrets.h

#ifndef SECRETS_H
#define SECRETS_H

// WiFi Credentials for WPA2 Enterprise
const char* ssid = "";
const char* EAP_IDENTITY = "";
const char* EAP_USERNAME = "";
const char* EAP_PASSWORD = "";

// EWS Credentials
const char* API_USERNAME = "";
const char* API_PASSWORD = "";
const char* API_SERVICE_ENDPOINT="";
const char *API_EMAIL_TARGET = "";

#endif
