// secrets.h

#ifndef SECRETS_H
#define SECRETS_H

// WiFi Credentials for WPA2 Enterprise
const char* ssid = "";
const char* EAP_ANONYMOUS_IDENTITY = "";
const char* EAP_IDENTITY = "";
const char* EAP_USERNAME = "";
const char* EAP_PASSWORD = "";

// EWS Credentials
const char* API_USERNAME = "";
const char* API_PASSWORD = "";
const char* API_SERVICE_HOST="";
const char* API_SERVICE_PATH="";
const char* API_SERVICE_ENDPOINT="";
const char* API_EMAIL_TARGET_SUFFIX="";
const char* API_EMAIL_TARGET_ARRAY[] = {};
const char* API_EMAIL_TARGET=API_EMAIL_TARGET_ARRAY[0];
const int API_EMAIL_TARGET_ARRAY_LENGTH = sizeof(API_EMAIL_TARGET_ARRAY) / sizeof(API_EMAIL_TARGET_ARRAY[0]);

#endif
