// secrets.h

#ifndef SECRETS_H
#define SECRETS_H

// WiFi Credentials for WPA2 Enterprise
const char* ssid = ""; // Wifi name
const char* EAP_IDENTITY = ""; // Wifi Identity
const char* EAP_USERNAME = ""; // Wifi email / name
const char* EAP_PASSWORD = ""; // Email password

// EWS Credentials
const char* API_SERVICE_HOST = ""; // hostname without protocol (http, https)
const char* API_SERVICE_PATH = ""; // only path (/test)
const char* API_SERVICE_ENDPOINT = ""; // endpoint (might be protocol + API_SERVICE_HOST + API_SERVICE_PATH)
const char* API_USERNAME = ""; // Username of User to make API request
const char* API_PASSWORD = ""; // Password of User to make API request

// Email Target
const char* API_EMAIL_TARGET_SUFFIX = ""; // email suffix (@example.com)
const char* API_EMAIL_TARGET_ARRAY[] = {}; // put all email address you want
const char* API_EMAIL_TARGET = API_EMAIL_TARGET_ARRAY[0]; // Change the value between [] to select the address you want by default (start from 0)
const int API_EMAIL_TARGET_ARRAY_LENGTH = sizeof(API_EMAIL_TARGET_ARRAY) / sizeof(API_EMAIL_TARGET_ARRAY[0]);

#endif
